__pycache__/
**/__pycache__/
.vscode/
.idea/
venv/
.venv/
.DS_Store
**.egg-info/
.VSCodeCounter/
dist/dryvr_plus_plus-0.1-py3.8.egg
tmp/
dist/
**.asv
**.m~
**.code-workspace
expected_map_output/
map_package/
**/output.json
docs/build/
docs/source/_autosummary/
**/.ipynb_checkpoints/
**.whl
**.tar.gz
**.json
gif/
debug/
build/
.python-version
*.csv
*.pth