numpy~=1.22.1
scipy~=1.8.1
matplotlib~=3.4.2
polytope~=0.2.3
pyvista~=0.32.1
networkx~=2.2
sympy~=1.6.2
six~=1.14.0
astunparse~=1.6.3
treelib~=1.6.1
z3-solver~=4.8.17.0
igraph~=0.9.10
plotly~=5.8.0
beautifulsoup4~=4.11.1
lxml~=4.9.1